<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="smaZer" guice-stage="DEVELOPMENT">

	<listeners>
		<listener class-name="utils.RetryListener" />
	</listeners>

	<test thread-count="5" name="Default test" verbose="2">

	<packages>
		
			<package name="smaZer_testcases" />
			
		</packages>

	</test> <!--
	Default test -->
</suite> <!--
Default suite -->

